<%- include('layouts/header') %>
<div class="container mt-5">
    <h2 class="text-center mb-4">Notifications</h2>
    <ul class="list-group">
        <li class="list-group-item">Notification 1: Welcome to our application!</li>
        <li class="list-group-item">Notification 2: Your profile has been updated successfully.</li>
        <li class="list-group-item">Notification 3: New features are coming soon!</li>
    </ul>
</div>
<%- include('layouts/footer') %>
